// ANIMATIONS

// SASS mixin to add vendor prefixes to keyframes
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name} @content
  @keyframes #{$name}
    @content

// Keyframes using the mixins
+keyframes(slide-top)
  0%
    transform: translateY(150px)
    opacity: 0
  20%
    opacity: 0
  100%
    opacity: 1
    transform: translateY(0px)

+keyframes(scroll-down-animation)
  0%
    opacity: 0
    transform: rotate(-45deg) translate(0, 0)
  50%
    opacity: 1
  100%
    opacity: 0
    transform: rotate(-45deg) translate(-20px, 20px)

// COLORS
// $primary-color: #363636
$primary-color: #000000
$accent-color: #ffffff

// FONTS
$primary-font: "Roboto"
$secondary-font: "Roboto Mono"


html, body
  background: $accent-color
  color: $primary-color
  font-family: $primary-font
  margin: 0
  overflow-x: hidden
  scroll-behavior: smooth
  font-size: 16px

html.hide-scrollbar
  overflow-y: hidden
  user-select: none

// REUSABLE COMPONENTS
button
  display: block
  margin: auto
  padding: 6px

span.arrow
  background: $primary-color
  cursor: pointer
  display: block
  height: 3px
  margin: 0 auto
  position: relative
  width: 30px

  &:before,
  &:after
    background: $primary-color
    content: ""
    height: 3px
    position: absolute
    width: 15px

  &:before
    bottom: -4px
    right: -3px
    transform: rotate(-45deg)

  &:after
    right: -3px
    top: -4px
    transform: rotate(45deg)

// NAV BAR
#navbar
  background: $accent-color
  border-bottom: $primary-color 1px solid
  color: $primary-color
  font-family: $secondary-font
  height: 2.5em

  #nav-back #back-arrow
    height: 80%

  #navbar-content
    align-items: center
    display: flex
    height: 100%
    margin: 0
    padding: 0 1em

    #nav-back
      align-items: center
      display: inline-flex
      justify-content: flex-start
      width: 100%

      .arrow
        display: inline-block
        margin-left: 0
        margin-right: 10px
        transform: rotate(180deg)

      .label
        display: inline
        text-decoration: none

    a
      color: $primary-color
      display: block
      text-decoration: none
      width: 100%

      &:hover
        text-decoration: underline

    #site-title
      align-self: center
      text-align: center

    #about
      text-align: right
      width: 100%

html, body
  height: 100%

  body
    display: flex
    flex-direction: column

    #content
      flex: 1 0 auto

    footer
      flex-shrink: 0

footer
  font-family: $secondary-font
  font-size: 1em
  line-height: 0.4
  opacity: 0.4
  padding: 2.5em 0 1.5em 0
  text-align: center

// PROJECT PAGE
#project-page, #about-page
  h1#title
    display: block
    font-size: 2em
    margin: 0.8em auto
    max-width: 50vw
    text-align: center

  #description-container
    text-align: center
    width: 100%

    #description
      color: $primary-color
      display: inline-block
      font-family: $secondary-font
      margin-bottom: 30px
      margin: auto
      max-width: 80%
      padding: 30px
      text-align: center


  #project-content
    display: block
    margin: auto
    max-width: 800px

    h1:not(#title)
      font-size: 1.7em
      margin-bottom: 1em

      &:not(:first-child)
        margin-top: 1.7em

    video, img
      display: block
      margin: 30px auto
      width: 100%

    img
      cursor: zoom-in
      opacity: 1
      transition: opacity 0.5s ease

      &:hover
        opacity: 0.5

  #image-viewer
    background: $accent-color
    height: 100%
    left: 0
    opacity: 0
    overflow: hidden
    pointer-events: none
    position: fixed
    top: 0
    transition: opacity 0.3s ease
    width: 100%
    z-index: 2

    #image-viewer-bar
      display: flex
      justify-content: flex-end

    #close-image-viewer
      align-items: center
      background: $accent-color
      border: none
      cursor: pointer
      display: flex
      font-family: $secondary-font
      font-size: 1em
      height: 40px
      margin-right: 20px
      right: 0
      text-align: right

      img
        height: 80%
        margin-left: 10px
        transition: transform 0.3s ease

      .label
        color: $primary-color
        display: inline
        text-transform: uppercase

      &:hover
        .label
          text-decoration: underline

        img
          transform: rotate(180deg)

    #image-viewer-img-container
      height: 100%
      overflow-x: hidden
      overflow-y: auto

      img
        width: 100%

    &.active
      opacity: 1
      pointer-events: auto

#homepage
  margin: 0

  #homepage-overlay
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.7))
    height: 100%
    position: absolute
    width: 100%

  #homepage-container
    overflow: hidden
    position: relative

    #homepage-title-container
      animation: slide-top 0.5s ease-out both
      bottom: 4em
      margin: auto
      position: absolute
      width: 100%
      z-index: 1

      h1
        color: $accent-color
        font-size: 6em
        margin-bottom: 0.5em
        margin: 0 10%
        text-align: center

      .subtitle
        color: $accent-color
        display: block
        font-family: $secondary-font
        font-size: 1.2em
        margin: 0 25%
        padding: 20px
        text-align: left

      #scroll-down
        display: block
        margin: auto
        padding-top: 70px
        position: relative

        // scroll down arrow
        span
          -webkit-animation: scroll-down-animation 1.5s infinite
          -webkit-transform: rotate(-45deg)
          animation: scroll-down-animation 1.5s infinite
          border-bottom: 5px solid $accent-color
          border-left: 5px solid $accent-color
          bottom: 0
          box-sizing: border-box
          height: 40px
          left: 50%
          margin-left: -12px
          position: absolute
          transform: rotate(-45deg)
          width: 40px


    figure#homepage-cover
      height: 100vh
      margin: 0
      overflow: hidden
      width: 100vw

      video, img
        width: 100%

      &.homepage-image
        display: flex
        justify-content: center

        img
          flex-shrink: 0

  section#categories-container
    height: 100%
    margin: 0
    padding: 0
    width: 100%

#page-title
    font-size: 3em
    text-align: center

// CATEGORIES LIST PARTIAL
#categories-title
  margin-top: 2em
  text-align: center

#categories-container
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  overflow: hidden
  width: 100vw

  a
    height: 33vw
    width: 33.333333%

  .category-tile
    background-position: center
    background-size: cover
    height: 100%
    overflow: hidden
    position: relative
    width: 100%

    .category-label
      background-color: $primary-color
      bottom: 0
      color: $accent-color
      display: flex
      font-family: $secondary-font
      height: 100%
      margin-top: 10px
      overflow: hidden
      position: absolute
      text-align: center
      transition: width 0.5s
      width: 0px

      .category-label-name
        display: block
        margin: auto
        opacity: 0
        transition: opacity 0.5s 0.2s
        white-space: nowrap

      .arrow
        height: 2.5em

    &:hover .category-label
      width: 100%

      .category-label-name
        opacity: 1

// TAXONOMY LIST (Projects in a category)
#projects-list
  display: inline-flex
  flex-direction: row
  flex-wrap: wrap
  overflow: hidden
  width: 100vw

  .project-preview
    cursor: pointer
    height: 33vw
    padding-bottom: 0
    text-decoration: none
    width: 33.333333%

    .project-tile
      border-top: none
      border: 1px solid $primary-color
      height: 100%
      overflow: hidden
      position: relative
      width: 100%

      .project-link
        display: none
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 3

      h2, p
        margin: 0
        padding: 0 40px

      h2
        color: $primary-color
        font-size: 2em
        font-style: italic
        font-weight: 300
        padding-bottom: 1em
        padding-top: 1em
        transition: background-color, color 0.3s ease

      .project-desc
        background-color: $accent-color
        color: $accent-color
        font-family: $secondary-font
        height: 0%
        overflow: hidden
        transition: height 0.5s ease

        p
          opacity: 0
          transition: opacity 0.5s ease 0.05s

        button
          background: none
          border: none
          margin-top: 15px

      .project-image
        background-position: center
        background-size: cover
        height: 100%
        overflow: hidden
        width: 100%


      &:hover

        .project-desc
          background-color: $primary-color
          height: 100%

          p
            opacity: 1

        .project-link
          display: block

        h2
          background-color: $primary-color
          color: $accent-color

// ABOUT PAGE
#about-page
  #navbar #navbar-content
    #about, #site-title
      display: none

  #project-content
    h1, h2
      &:not(:first-of-type)
        margin-top: 2em
    p
      line-height: 1.3
