<nav id="navbar">
  <div id=navbar-content>
      {{ $category_page := .Site.GetPage "/categories" }}
      {{ if eq (lower .Layout) "about" }}
        <a id="nav-back" href="/">
          <img class="arrow" src="/img/assets/arrow-white-small.svg"></img>
          <span class="label">{{ $.Site.Params.labels.home }}</span>
        </a>
      <!-- SINGLE PAGES -->
      {{ else if (isset .Params "categories") }}
        <a id="nav-back" href="/categories/{{ index .Params.categories 0 | lower | urlize }}">
          <img class="arrow" src="/img/assets/arrow-white-small.svg"></img>
          <span class="label">{{ index .Params.categories 0 }}</span>
        </a>
      <!-- "CATEGORIES" PAGE -->
      {{ else if eq (.Title) ($category_page.Title) }}
        <a id="nav-back" href="/">
          <img class="arrow" src="/img/assets/arrow-white-small.svg"></img>
          <span class="label">{{ $.Site.Params.labels.home }}</span>
        </a>
      <!-- "CATEGORY" PAGES -->
      {{ else if (isset .Data "Plural" ) }}
        <a id="nav-back" href="/{{.Data.Plural | lower | urlize}}">
          <img class="arrow" src="/img/assets/arrow-white-small.svg"></img>
          <span class="label">{{$category_page.Title}}</span>
        </a>
      {{ end }}
    <a id="site-title" href="/">{{.Site.Title}}</a>
    <a id="about" href="/about">{{ $.Site.Params.labels.about }}</a>
  </div>
</nav>
