{{ define "main" }}
    <main aria-role="main" id="homepage">
      <div id="homepage-container">
        <div id="homepage-title-container">
          <h1>{{.Title}}</h1>
          {{ with .Content }}
            <span class="subtitle">{{.}}</span>
          {{ end }}
          <a id="scroll-down" href="#categories-container">
            <span></span>
          </a>
        </div>
        {{ with .Params.background_video }}
          <figure id="homepage-cover" class="homepage-video">
            <div id="homepage-overlay"></div>
              <video autoplay loop muted playsinline >
              <!-- <video> -->
                <source src="{{ . }}" type="video/mp4">
              </video>
            </div>
          </figure>
        {{ else }}
          <figure id="homepage-cover" class="homepage-image">
            <div id="homepage-overlay"></div>
              <img src="{{ .Params.background_image }}">
            </div>
          </figure>
        {{ end }}
      {{- partial "categories-list.html" . -}}
    </main>
{{ end }}
